@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: rgb(15 23 42);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #95a3e6;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #93c5fd;
}
